#myNav1{
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: red;
    text-align: left;
}
.page-holder {
    min-height: 100vh;
}
  
.bg-cover {
    background-size: cover !important;
}
#resume:hover{
    background-color: green;
}
#resume:active{
    background-color: red;
}
#home::before,
#prof::before,
#proj::before,
#cont::before{
display: block;
content: " ";
margin-top: -65px;
height: 65px;
visibility: hidden;
scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: smooth;
	}
}
.btn.btn-danger:hover,
.btn.btn-danger{
    background-color: teal;
    border-color: black;
}
.card-title.mt-4{
    text-decoration: underline;
    font-style: italic;
    font-size: 2vw;
    margin-bottom: 10%;
    padding-bottom: 10%;
    line-height: 2vh;
    text-align: center;
}
.card-body{
    font-family: 'Allura',cursive;
    font-size: 1.8vw;
}
